<html>
<head>
<title>After School Class</title>
<script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
<!-- add icon-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">


</head>
<body>
<!-- The element where Vue will mount -->
<div id="app1">
        <header>
            <h1>{{ sitename }}</h1>
            <button v-on:click='showCheckout'>
                <!-- 'cartItemCount' is used the same way as a data property. -->
                {{cartItemCount}}
                <!-- add the cart icon -->
                <span class="fas fa-cart-plus"></span>
                Checkout
                </button>
        </header>
        <main>
        <div v-if='showProduct'>
        <figure>
            <!-- bind 'src' attr to 'product.image' in 'data' -->
            <img v-bind:src="product.image" style="width: 300px; height: auto;">
        </figure>
        <h2 v-text="product.title"></h2>
        <!-- The double curly brackets is used instead of 'v-text' -->
        <p>Location: {{product.location}}</p>
        <p>Price: {{product.price}}</p>
        <p>Spaces: {{product.space}}</p>
        <!-- This button will be displayed when 'canAddToCart' is True -->
        <button v-on:click="addToCart" v-if="canAddToCart">Add to cart</button>
        <!-- This button will be displayed otherwise -->
        <button disabled='disabled' v-else>Add to cart</button>
        <span v-if='itemsLeft === 0'>All out!</span>
        <span v-else-if="itemsLeft < 5">Only {{itemsLeft}} left!</span>
        <span v-else>Buy now!</span>
        <div>
            <span v-for='n in product.rating'>★</span>
            <span v-for='n in 5 - product.rating'>☆</span>
        </div>
        </div>
        <div v-else>
            <!-- the code for the checkout page -->
            <h2>Checkout</h2>
            <p>
                <strong>First Name:</strong>
                <!-- This input field is bound to 'firstName' in the 'order' object -->
                <input v-model.trim="order.firstName" />
            </p>
            <p>
                <strong>Last Name:</strong>
                <!-- This input field is bound to 'lastName' in the 'order' object -->
                <input v-model.trim="order.lastName" />
            </p>
            <p><strong>Address:</strong> <input v-model="order.address"/></p>
            <p><strong>City:</strong> <input v-model="order.city"/></p>
            <p>
                <strong>State:</strong>
                <select v-model="order.state">
                <option disabled value="">State</option>
                <option v-for="(state, key) in states"
                    v-bind:value="state">
                    {{key}}
                </option>
                </select>
                <ol>
                    <li v-for="state in states">{{state}}</li>
                </ol>
            </p>
            <p><strong>Zip/Postal Code:</strong> <input v-model.number="order.zip" type="number"/></p>
            <p><input type="checkbox" id="gift" value="true" 
                v-model="order.gift"
                v-bind:true-value="order.sendGift"
                v-bind:false-value="order.dontSendGift">
                <label for="gift">Ship As Gift?</label></p>
                <p><input type="radio" id="home" value="Home" v-model="order.method">
                <label for="home">Home</label>
                <input type="radio" id="business" value="Business" v-model="order.method">
                <label for="business">Business</label>
            </p>
            <h2>Order Information</h2>
            <p>First Name: {{ order.firstName }}</p>
            <p>Last Name: {{ order.lastName }}</p>
            <p>Address: {{order.address}}</p>
            <p>City: {{order.city}}</p>
            <p>Zip: {{order.zip}}</p>
            <p>State: {{order.state}}</p>
            <p>Gift?: {{order.gift}}</p>
            <p>Method: {{order.method}}</p>
            <button v-on:click="submitForm">Place Order</button>
        </div>
        </main>
</div>
<script type="text/javascript">
let app1 = new Vue ({el: '#app1',
    data: {
        sitename: "After School Class",
        showProduct: true,
        order: {
            firstName: '',
            lastName: '',
            address: '',
            city: '',
            zip: '',
            state: '',
            method: 'Home',
            sendGift: 'Send as a gift',
            dontSendGift: 'Do not send as a gift'
        },
        states: ['Alabama','Alaska','Arizona','California','Nevada'],
        product: {
            id: 1001,
            title: "Dance",
            location: "London",
            price: 5,
            image: "image/dance.jpg",
            space: 10,
            rating: 3
        },
        cart: [], // array to store items in shopping cart
    },
    computed: {
      cartItemCount: function() {
        return this.cart.length || "";
      },
      canAddToCart: function() {
        return this.product.space > 0;
      },
      itemsLeft() {
            return this.product.space; 
      }
    },
    methods: {
        addToCart: function () {
            this.cart.push(this.product.id);
            this.product.space--;
        },
        showCheckout() {
            this.showProduct = this.showProduct ? false : true;
        },
        submitForm() {
            alert('Order submitted!')
        }
    }
});
</script>
</body>
</html>