<html>
<head>
<title>After School Class</title>
<script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
<!-- add icon-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<body>
<!-- The element where Vue will mount -->
<div id="app1">
        <header>
            <h1>{{ sitename }}</h1>
            <button v-on:click='showCheckout'>
                <!-- 'cartItemCount' is used the same way as a data property. -->
                {{cartItemCount}}
                <!-- add the cart icon -->
                <span class="fas fa-cart-plus"></span>
                Checkout
                </button>
        </header>
        <main>
        <div v-if='showProduct'>
        <figure>
            <!-- bind 'src' attr to 'product.image' in 'data' -->
            <img v-bind:src="product.image" style="width: 300px; height: auto;">
        </figure>
        <h2 v-text="product.title"></h2>
        <p v-html="product.location"></p>
        <!-- The double curly brackets is used instead of 'v-text' -->
        <p>Price: {{product.price}}</p>
        <p>Space: {{product.space}}</p>
        <!-- This button will be displayed when 'canAddToCart' is True -->
        <button v-on:click="addToCart" v-if="canAddToCart">Add to cart</button>
        <!-- This button will be displayed otherwise -->
        <button disabled='disabled' v-else>Add to cart</button>
        </div>
        <div v-else>
            <!-- the code for the checkout page -->
        </div>
        </main>
</div>
<script type="text/javascript">
let app1 = new Vue ({el: '#app1',
    data: {
        sitename: "After School Class",
        showProduct: true,
        product: {
            id: 1001,
            title: "Dance",
            location: "London",
            price: 5,
            image: "image/dance.jpg",
            space: 5,
        },
        cart: [], // array to store items in shopping cart
    },
    computed: {
      cartItemCount: function() {
        return this.cart.length || "";
      },
      canAddToCart: function() {
        return this.product.space > 0;
      }
    },
    methods: {
        addToCart: function () {
            this.cart.push(this.product.id);
            this.product.space--;
        },
        showCheckout() {
            this.showProduct = this.showProduct ? false : true;
        },
    }
});
</script>
</body>
</html>